extends layout

block body
  - if (!everyauth.loggedIn)
    h2 Not Authenticated
    #password-login
      a(href='/login', style='border: 0px') Login with Password
  - else

    ul
      li
        a(href='/') Home
      li
        a(href='/addRun') Add a new run
      li
        a(href='/logout', target='_self') Logout

    div(ng-view)

    div(id="result")