!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.1.custom.min.css')
    link(rel='stylesheet', href='/stylesheets/angular-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery-1.9.1.min.js')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-ui.min.js')
    script(src='/javascripts/jquery-ui-1.10.1.custom.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts//angular-strap.min.js')
    script(src='/javascripts/date.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/controllers.js')
    script(src='/javascripts/services.js')
    script(src='/javascripts/filters.js')
    script(src='/javascripts/directives.js')
  body
    block body